*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
main{
    background-image: url(../images/bg.avif);
    background-size: cover;
    padding: 4rem 0 6rem 0;
    font-family: "Poppins", sans-serif;
}
.logo{
    display: flex;
    justify-content: center;
}
.logo img{
    width: 250px;
}
.gift-card{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
.gift-card img{
    width: 450px;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}
.content h1{
    text-align: center;
    color: #d4af37;
    font-size: calc(2rem + 0.5vw);
    font-weight: 300;
}
.content h1 span{
    font-weight: 600;
}
.content p{
    text-align: center;
    color: #fff;
    font-size: calc(1rem + 0.5vw);
    font-weight: 400;
    margin-top: 1rem;
}
.content p span{
    font-weight: 550;
}
.content p.italic{
    font-style: italic;
}
.content button{
    font-family: "Poppins", sans-serif;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
    background-color: #d4af37;
    color: #000;
    border: none;
    border-radius: 50px;
    padding: 0.47rem 3rem;
    font-size: calc(1.3rem + 0.5vw);
    font-weight: 550;
    cursor: pointer;
    transition: all 0.2s ease;
    -webkit-tap-highlight-color: transparent;
}
.content button:hover{
    background-color: #c19c24;
}
.content button:active{
    scale: 0.95;
}
.content h2{
    text-align: center;
    color: #d4af37;
    font-size: calc(2rem + 0.5vw);
    font-weight: 600;
    margin-top: 3rem;
    line-height: 1.3;
}
.content .join-btn-row{
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.content .join-btn-row button{
    font-size: calc(1.6rem + 0.5vw);
    font-weight: 600;
    border: 2px solid #d4af37;
}
.content .join-btn-row .know-more-btn button{
    background-color: #000000a9;
    color: #d4af37;
}
.content .join-btn-row .know-more-btn button:hover{
    background-color: #d4af37;
    color: #000;
}
.content .foot-content{
    margin-top: 4rem;
    border: 2px solid #c7c7c7;
    border-radius: 30px;
    padding: 2rem;
}
.content .foot-content p{
    margin: 0;
    font-size: calc(0.9rem + 0.5vw);
    font-weight: 400;
    margin-top: 0.3rem;
}
.content .foot-content p img{
    width: 27px;
    border-radius: 5px;
    margin-bottom: -6px;    
    margin-left: 3px;
}
.content .social-icons{
    margin-top: 3rem;
    display: flex;
    gap: 1.5rem;
}
.content .social-icons a{
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    text-align: center;
    background-color: #d4af37;
    color: #000;
    font-size: calc(1.1rem + 0.5vw);
    transition: all 0.2s ease;
    -webkit-tap-highlight-color: transparent;
}
.content .social-icons a:hover{
    background-color: #c19c24;
    color: #fff;
}
.content .social-icons a:active{
    scale: 0.95;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    main{
        padding: 3.5rem 0 6rem 0;
    }
    .logo img{
        width: 230px;
    }
    .gift-card{
        margin-top: 1.8rem;
    }
    .gift-card img{
        width: 415px;
    }
    .content{
        margin-top: 2.8rem;
    }
    .content h1{
        font-size: calc(1.8rem + 0.5vw);
    }
    .content p{
        font-size: calc(0.9rem + 0.5vw);
        margin-top: 0.9rem;
    }
    .content button{
        margin-top: 2.9rem;
        margin-bottom: 0.5rem;
        padding: 0.45rem 2.8rem;
        font-size: calc(1.2rem + 0.5vw);
    }
    .content h2{
        font-size: calc(1.8rem + 0.5vw);
        margin-top: 2.9rem;
    }
    .content .join-btn-row{
        gap: 2.9rem;
    }
    .content .join-btn-row button{
        font-size: calc(1.5rem + 0.5vw);
    }
    .content .foot-content{
        margin-top: 3.8rem;
        padding: 1.8rem;
    }
    .content .foot-content p{
        font-size: calc(0.8rem + 0.5vw);
        margin-top: 0.28rem;
    }
    .content .foot-content p img{
        width: 25px;
        margin-bottom: -6px;    
        margin-left: 4px;
        margin-right: 2px;
    }
    .content .social-icons{
        margin-top: 3.2rem;
        gap: 1.4rem;
    }
    .content .social-icons a{
        width: 42px;
        height: 42px;
        line-height: 42px;
        font-size: calc(1rem + 0.5vw);
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    main{
        padding: 3rem 0 6rem 0;
    }
    .logo img{
        width: 205px;
    }
    .gift-card{
        margin-top: 1.7rem;
    }
    .gift-card img{
        width: 365px;
    }
    .content{
        margin-top: 2.7rem;
    }
    .content h1{
        font-size: calc(1.6rem + 0.5vw);
    }
    .content p{
        font-size: calc(0.8rem + 0.5vw);
        margin-top: 0.8rem;
    }
    .content button{
        margin-top: 2.8rem;
        padding: 0.42rem 2.7rem;
        font-size: calc(1.1rem + 0.5vw);
    }
    .content h2{
        font-size: calc(1.6rem + 0.5vw);
        margin-top: 2.8rem;
    }
    .content .join-btn-row{
        gap: 2.5rem;
    }
    .content .join-btn-row button{
        font-size: calc(1.3rem + 0.5vw);
        border: 1.5px solid #d4af37;
    }
    .content .foot-content{
        margin-top: 3.6rem;
        border: 1.5px solid #c7c7c7;
        padding: 1.5rem;
    }
    .content .foot-content p{
        font-size: calc(0.7rem + 0.5vw);
        margin-top: 0.26rem;
    }
    .content .foot-content p img{
        width: 23px;
        margin-bottom: -6.5px;    
        margin-left: 4px;
        margin-right: 2px;
    }
    .content .social-icons{
        margin-top: 3rem;
        gap: 1.4rem;
    }
    .content .social-icons a{
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: calc(0.9rem + 0.5vw);
    }
}

@media screen and (max-width: 991px) {
    main{
        padding: 2.5rem 2rem 3rem 2rem;
        overflow: hidden;
    }
    .logo img{
        width: 60%;
    }
    .gift-card{
        margin-top: 1rem;
    }
    .gift-card img{
        width: 100%;
    }
    .content{
        margin-top: 2.3rem;
    }
    .content h1{
        font-size: calc(1.5rem + 0.5vw);
        white-space: nowrap;
    }
    .content p{
        font-size: calc(0.8rem + 0.5vw);
        margin-top: 0.5rem;
    }
    .content button{
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
        padding: 0.3rem 2rem;
        font-size: calc(1.1rem + 0.5vw);
    }
    .content h2{
        font-size: calc(1.5rem + 0.5vw);
        white-space: nowrap;
        margin-top: 1.5rem;
        line-height: 1.4;
    }
    .content .join-btn-row{
        gap: 1rem;
    }
    .content .join-btn-row button{
        font-size: calc(1.2rem + 0.5vw);
        border: 1.5px solid #d4af37;
        padding: 0.3rem 1.3rem;
        white-space: nowrap;
    }
    .content .foot-content{
        margin-top: 1.5rem;
        border: 1.5px solid #c7c7c7;
        padding: 0.6rem 0.8rem 0.8rem 0.8rem;
        border-radius: 15px;
    }
    .content .foot-content p{
        font-size: calc(0.7rem + 0.5vw);
        margin-top: 0.4rem;
    }
    .content .foot-content p img{
        width: 20px;
        border-radius: 4px;
        margin-bottom: -6px;    
        margin-left: 4px;
        margin-right: 2.3px;
    }
    .content .social-icons{
        margin-top: 2rem;
        gap: 1.2rem;
    }
    .content .social-icons a{
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: calc(1.2rem + 0.5vw);
    }
}